<ul>
	<li ng-repeat="adherent in items">
    	<h4><a href="#/adherent/{{adherent.id}}">{{adherent.firstName}} {{adherent.lastName}}</a></h4>
            <p>
            <ul>
            	<li>{{adherent.firstName}}</li>
            	<li>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="edit(adherent.id)">Editer</button>
                    <button type="button" class="btn btn-danger btn-sm" ng-click="remove(adherent.id)">Effacer</button>
                </li>
            </ul>
    </li>
</ul>

<div class="create-from">
<form role="form">
	<div class="form-group">
        <label for="firstName">Prénom</label>
		<input id="firstName" class="form-control" placeholder="Entrer un prénom" ng-model="newItem.firstName" class="form-control">
    </div>
    <div class="form-group">
        <label for="lastName">Nom</label>
        <input id="lastName" class="form-control" placeholder="Entrer un nom" ng-model="newItem.lastName" class="form-control">
    </div>

    <!-- Login /pwd -->
    <div class="form-group">
        <label for="login">Login</label>
        <input id="login" class="form-control" placeholder="Entrer un login" ng-model="newItem.login" class="form-control">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" class="form-control" placeholder="Entrer un mot de passe" ng-model="newItem.password" class="form-control">
    </div>

    <div class="pull-right">
        <button type="button" class="btn btn-primary" ng-click="create()" >{{createButtonCaption}}</button>
        <button type="button" class="btn btn-primary" ng-click="cancel()">Annuler</button>
    </div>
</form>
