<ul>
	<li ng-repeat="regulator in items">
    	<h4><a href="#/regulator/{{regulator.reference}}">{{regulator.reference}}</a></h4>
            <p>
            <ul>
            	<li>Brand: {{regulator.brand}}</li>
            	<li>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="edit(regulator.reference)">Editer</button>
                    <button type="button" class="btn btn-danger" ng-click="remove(regulator.reference)">Effacer</button>
                </li>
            </ul>
    </li>
</ul>

<div class="create-from">
    <form role="form">
        <div class="form-group">
            <label for="reference">Référence </label>
            <input id="reference" class="form-control" placeholder="Entrer une référence" ng-model="newItem.reference" class="form-control">
        </div>
        <div class="form-group">
            <label for="brand">Marque</label>
            <select id="brand" class="form-control" placeholder="Sélectionner une marque"ng-model="newItem.brand" ng-options="it.label as it.label for it in brands" class="form-control"></select>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-primary" ng-click="create()" >{{createButtonCaption}}</button>
            <button type="button" class="btn btn-primary" ng-click="cancel()">Annuler</button>
        </div>
    </form>
</div>